# List Comprehensions

List comprehensions are just a different syntax for writing `for` loops.

It is used to generate a list, which will always be it's output.

It either applies an operation on all the elements of an **iterable**, uses `if` conditions to filter or **ternaries** to choose.

## Basic List Comprehension

In [1]:
students = ["John", "Mike", "Marcia", "Lily", "Greg"]
campus = []
for stud in students:
    stud = stud+"üò∑"
    campus.append(stud)
campus

['Johnüò∑', 'Mikeüò∑', 'Marciaüò∑', 'Lilyüò∑', 'Gregüò∑']

## Anatomy of a List Comprehension

`[            ]`

- Indicate it will output a list

`[  <result>      for      <element>      in       <iterable>  ]`

- We will **always** a for loop in a list comprehension.

- A **for** loop requires an iterable

<iterable\> : The data we are iterating (list, tuple, range, map, iter, etc.)
   
<element\> : Name of variable that will contain (each at a time) the elements of the iterable
    
<result\> : Each of the elements of the resulting list (from list comprehension)

Adding masks to all students

In [2]:
campus = [stud+"üò∑" for stud in students]
campus

['Johnüò∑', 'Mikeüò∑', 'Marciaüò∑', 'Lilyüò∑', 'Gregüò∑']

**List comprehension on the "\<result>"**

Ex: Get only the vowels of students names

`NOTE: It is a list comprehension where each of its values is a list comprehension on itself`

In [3]:
vowels = [ [letter for letter in stud if letter in "aeiou"] for stud in students]
vowels

[['o'], ['i', 'e'], ['a', 'i', 'a'], ['i'], ['e']]

**List comprehension on the "\<iterable>"**

Ex: Reverse the name of all masked students

In [4]:
[ stud_mask[::-1] for stud_mask in [stud+"üò∑" for stud in students] ]

['üò∑nhoJ', 'üò∑ekiM', 'üò∑aicraM', 'üò∑yliL', 'üò∑gerG']

It is equivalent to storing inner list comp in a variable and doing the outer over said variable

In [5]:
campus = [stud+"üò∑" for stud in students]
[ stud_mask[::-1] for stud_mask in campus ]

['üò∑nhoJ', 'üò∑ekiM', 'üò∑aicraM', 'üò∑yliL', 'üò∑gerG']

### Nested List Comprehension

When all the elements of an iterable are themselves iterable, you can access them directly with nested list comps.

In [6]:
# Classic example: Flattening
# Flattening is the act of converting a multidimension array into a single dimension

M = [[1,2,3],
     [4,5,6],
     [7,8,9]]

In [7]:
values = []
for row in M:
    for element in row:
        values.append(element)
values

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
[element for row in M for element in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`NOTE: Nested loops must be ordered from the outmost to the innermost.`

In [9]:
M = [
    [
        [1,2,3],[4,5,6],[7,8,9]
    ],
    [
        [1,2,3],[4,5,6],[7,8,9]
    ],
]

In [10]:
[element for sub_matrix in M for row in sub_matrix for element in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Filtering with a list comprehension

`[  <result>  for  <element>  in  <iterable>       if       <condition>]`

- If we want to filter a list comprehension, we must put an `if` at the end.

- There is no possibility to use an else.


<condition\> : some operation that returns True or False for each element of iterable

`0 <= len(list_comp) <= len(iterable)`

In [11]:
campus

['Johnüò∑', 'Mikeüò∑', 'Marciaüò∑', 'Lilyüò∑', 'Gregüò∑']

In [12]:
vaccines = [stud+"üè•" for stud in campus if ("a" in stud) or ("e" in stud)]
vaccines

['Mikeüò∑üè•', 'Marciaüò∑üè•', 'Gregüò∑üè•']

In [13]:
[stud for stud in campus if "z" in stud]

[]

In [14]:
[stud for stud in campus if True]

['Johnüò∑', 'Mikeüò∑', 'Marciaüò∑', 'Lilyüò∑', 'Gregüò∑']

## Ternary list comprehension

### What is a ternary?
It is asigning a variable based on a condition

In [15]:
temp = 28
if temp >=25:
    is_hot = True
else:
    is_hot = False
is_hot

True

In [16]:
temp = 22
is_hot = True if temp >= 25 else False
is_hot

False

In [17]:
# You can't use `elif` on a ternary

temp = 18
feel = "cold" if temp <= 15 else "good" if 15 < temp <= 25 else "hot"
feel

'good'

`[  <result> if <condition> else <result2> for  <element>  in  <iterable> ]`

- If we want to chose between 2 or more options

- Mandatory to use else


<condition\> : some operation that returns True or False for each element of iterable

len(list_comp) == len(iterable)

In [18]:
campus

['Johnüò∑', 'Mikeüò∑', 'Marciaüò∑', 'Lilyüò∑', 'Gregüò∑']

In [19]:
[ stud+"üíâ" if ("a" in stud) or ("e" in stud) else stud+"üëÄ" for stud in campus]

['Johnüò∑üëÄ', 'Mikeüò∑üíâ', 'Marciaüò∑üíâ', 'Lilyüò∑üëÄ', 'Gregüò∑üíâ']

## Exercises
- Find all of the numbers from 1-1000 that are divisible by 7
- Find all of the numbers from 1-1000 that have a 3 in them
- Count the number of spaces in a string "The quick brown fox jumps over the lazy dog"
- Create a list of all the consonants in the string ‚ÄúYellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams‚Äù
- Get the index and the value as a tuple for items in the list ["hi", 4, 8.99, "apple", ("t,b","n")]. Result would look like [(index, value), (index, value)]
- Find the common numbers in two lists (without using a tuple or set) list_a = [1, 2, 3, 4] list_b = [2, 3, 4, 5]
- Get only the numbers in a sentence like 'In 1984 there were 13 instances of a protest with over 1000 people attending'

# Map, Filter, Reduce
These functions are very useful means of doing the same as **loops** and **list comprehension**, with the exception of reduce, which is suposed to apply a function over all the elements of a list pair by pair, resulting in a single object.

- map and filter : return iterators (list-like)
    - map : output will have the same length as input
    - filter :  0 <= len(output) <= len(input)
- reduce : returns a **single** element (even if this element is a list)

## map

In [20]:
def put_mask(person):
    return person + "üò∑"

In [21]:
put_mask("Irene")

'Ireneüò∑'

In [22]:
[put_mask(stud) for stud in students]

['Johnüò∑', 'Mikeüò∑', 'Marciaüò∑', 'Lilyüò∑', 'Gregüò∑']

In [23]:
masked = map(put_mask, students)
masked

In [24]:
list(masked)

['Johnüò∑', 'Mikeüò∑', 'Marciaüò∑', 'Lilyüò∑', 'Gregüò∑']

In [25]:
list(map(len,students))

[4, 4, 6, 4, 4]

In [26]:
list(map( lambda stud: stud.upper() ,students))

['JOHN', 'MIKE', 'MARCIA', 'LILY', 'GREG']

## Lambda function

```python
def function_name(args):
    operations()
    return result
```
----
```python
# Lambda functions have no name

lambda args: result
```

## Filter

In [27]:
def is_prime(x):
    for div in range(2,x//2):
        if x%div==0:
            return False
    return True

In [28]:
is_prime(4567813476)

False

In [29]:
[num for num in range(3,100) if is_prime(num)]

[3,
 4,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [30]:
primes = filter(is_prime, range(3,100))
primes

In [31]:
list(primes)

[3,
 4,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

## Reduce

`<iterable> => <function> => <single_value>`

- <function\> must receive 2 parameters! e.g.: **a**,**b**.
    - The return value of <function\> will be the **a** on the next iteration

In [32]:
# Inside the mind of the reduce function
lst = [1,2,3,4]
function = lambda a,b : a+b
x = lst.pop(0)
y = lst.pop(0)
print("First iteration")
print(f"x:{x},y:{y}")
res = function(x,y)
print(f"res:{res}")
print("-"*40)

x = res
y = lst.pop(0)
print("Second iteration")
print(f"x:{x},y:{y}")
res = function(x,y)
print(f"res:{res}")
print("-"*40)

x = res
y = lst.pop(0)
print("Third iteration")
print(f"x:{x},y:{y}")
res = function(x,y)
print(f"res:{res}")
print("-"*40)

print(f"len(lst) : {len(lst)}")
print(f"Final result: {res}")

First iteration
x:1,y:2
res:3
----------------------------------------
Second iteration
x:3,y:3
res:6
----------------------------------------
Third iteration
x:6,y:4
res:10
----------------------------------------
len(lst) : 0
Final result: 10

In [33]:
from functools import reduce

In [34]:
# sum([1,2,3,4])
reduce(lambda x, y: x+y, [1,2,3,4])

10

In [35]:
reduce(lambda x, y: x*y, [1,2,3,4])

24

In [36]:
def factorial(x):
    return reduce(lambda x, y: x*y, range(2,x+1))

In [37]:
factorial(8)

40320

In [38]:
# "        ".join(campus)
reduce(lambda a,b: f"{a}        {b}", campus, "Welcome:")

'Welcome:        Johnüò∑        Mikeüò∑        Marciaüò∑        Lilyüò∑        Gregüò∑'

### Bonus

Reduce returns a single element!!!!

But....

That element can be a list

In [39]:
def fibb(lst, _):
    lst.append(sum(lst[-2:]))
    return lst

In [40]:
x = 10
reduce(fibb, range(x-2), [1,1])

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]